In [1]:
import pandas as pd

# https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset

df = pd.read_csv('/Users/kun/Desktop/SRH/Blocks/AAI/materials/Student_performance_data _.csv')
df.head(10)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0

In [12]:
X = df.drop(columns=['StudentID', 'GPA','GradeClass'])
y = df['GradeClass']

# Whether should one-hot encode ParentalEducation? We can consider its steps.
X = pd.get_dummies(X,columns=['Gender','Ethnicity','ParentalEducation'], dtype=float)
features = X.columns
print(X.info())
X.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  2392 non-null   int64
 1   StudyTimeWeekly      2392 non-null   float64
 2   Absences             2392 non-null   int64
 3   Tutoring             2392 non-null   int64
 4   ParentalSupport      2392 non-null   int64
 5   Extracurricular      2392 non-null   int64
 6   Sports               2392 non-null   int64
 7   Music                2392 non-null   int64
 8   Volunteering         2392 non-null   int64
 9   Gender_0             2392 non-null   float64
 10  Gender_1             2392 non-null   float64
 11  Ethnicity_0          2392 non-null   float64
 12  Ethnicity_1          2392 non-null   float64
 13  Ethnicity_2          2392 non-null   float64
 14  Ethnicity_3          2392 non-null   float64
 15  ParentalEducation_0  2392 non-null   float64
 16  ParentalEducation_1  2392 non-null   float64
 17  ParentalEducation_2  2392 non-null   float64
 18  ParentalEducation_3  2392 non-null   float64
 19  ParentalEducation_4  2392 non-null   float64
dtypes: float64(12), int64(8)
memory usage: 373.9 KB
None

,Age,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,Gender_0,Gender_1,Ethnicity_0,Ethnicity_1,Ethnicity_2,Ethnicity_3,ParentalEducation_0,ParentalEducation_1,ParentalEducation_2,ParentalEducation_3,ParentalEducation_4
0,17,19.833723,7,1,2,0,0,1,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,18,15.408756,0,0,1,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,15,4.210570,26,0,2,0,0,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,17,10.028829,14,0,3,1,0,0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,17,4.672495,17,1,3,0,0,0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,18,8.191219,0,0,1,1,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,15,15.601680,10,0,3,0,1,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,15,15.424496,22,1,1,1,0,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,17,4.562008,1,0,2,0,1,0,1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,16,18.444466,0,0,3,1,0,0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [3]:
# Standardize the data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
print(X)

[[0.66666667 0.99277314 0.24137931 ... 1.         0.         0.        ]
 [1.         0.77127049 0.         ... 0.         0.         0.        ]
 [0.         0.21071759 0.89655172 ... 0.         1.         0.        ]
 ...
 [0.33333333 0.34061322 0.68965517 ... 1.         0.         0.        ]
 [0.33333333 0.62149336 0.5862069  ... 0.         0.         0.        ]
 [0.33333333 0.89196664 0.44827586 ... 1.         0.         0.        ]]

In [7]:
from sklearn.decomposition import PCA
pca = PCA()
X_pca = pca.fit_transform(X)
print(pca.explained_variance_)
#print(pca.explained_variance_ratio_)

[5.01094647e-01 3.53751472e-01 3.39258182e-01 2.38562349e-01
 2.15920425e-01 2.10486775e-01 2.01872372e-01 1.95087162e-01
 1.58005319e-01 1.39516874e-01 1.30754969e-01 1.17364296e-01
 1.08071025e-01 8.48443443e-02 8.09507016e-02 7.59779727e-02
 5.70454687e-02 4.48102390e-31 1.10445733e-31 2.28054009e-32]

In [13]:
# PCA components DataFrame
pca_df = pd.DataFrame(pca.components_, columns=features)
pca_df